db--deploy-sa-svc-etc.yaml
s1--deploy-sa-svc.yaml
s2--deploy_v1.yaml
loader--job.yaml
db-nohealth.yaml
s1-nohealth.yaml
s2-nohealth.yaml
dyndb--se-vs.yaml
awscred--secret.yaml
tpl-vars.txt
*-token.txt
supplemental/cf-dyndb.json
